.wlcm {
    font-family: fantasy;
    text-align: center;
    text-decoration: solid;
    font-weight: 500;
    font-size: 200px;
    margin-top: 150px;
    color: #ab5193;
}
.heading 
{
    font-family: 'Rubik Glitch Pop', system-ui;
    font-family: ;
    color: #78f25a;
    font-size:30px;
    
}
.details {
    color: #aab1d7;
    font-size: large;
}
.details1 {
    color: #7a8bed;
}